.cart-sidebar {
    position: fixed;
    top: 70px;
    right: -300px; /* Starts hidden */
    width: 250px;
    height: auto;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    z-index: 1000;
}

.cart-content-container {
    margin: 10px;
    max-height: 80vh; /* Limit height to viewport height */
    overflow-y: auto; /* Add scrollbar if content overflows */
}

.cart-content-container h2 { margin-bottom: 10px; }
  
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item button {
    margin-left: 5px;
    padding: 5px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}

.cart-item button:hover { background-color: #cc5200; }

.cart-total { margin-top: 20px;}

.btn-checkout {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn-checkout:hover { background-color: #218838; }