.profile-container {
  display: flex;
  margin: auto;
  width: 1000px;
  height: 600px;
}

/* Profile section styles */
.profile {
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
  width: 300px
}

.profile-title {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.profile-img{
  width: 58px; /* Make the profile picture smaller */
  height: 51px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* Borderpage link styles */
.borderpage-link {
  display: block;
  text-decoration: none;
  color: grey;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.borderpage-link:hover {
  background-color: #f1f5f9;
  color: #1e293b;
}

/* Highlight active section */
.borderpage-link.active {
  background-color: #536dfe;
  color: #fff;
}

/* Account section styles */
.account {
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
  width: 700px;
  height: 100%;
}

.account-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Input styles */
.input-container { margin-bottom: 15px; }

.input-container label {
  color: #768499;
  font-size: 15px;
  margin-bottom: 5px;
}

.input-container input, .input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #768499;
  border-radius: 5px;
  transition: border-color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.input-container input:focus, .input-container textarea:focus {
  outline: none;
  border-color: #536dfe;
}

/* Button styles */
.btn-cancel, .btn-save, .btn-membership, .btn-logout, .btn-submit{
  width: 4cm;
  height: 1cm;
  cursor: pointer;
  border-radius: 2em;
  font-weight: bold;
  transition-duration: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.btn-cancel {
  color: #1e293b;
  border: 1px solid #768499;
  background-color: #fff;
}

.btn-save {
  color: #fff;
  border: 1px solid #458ff6;
  background-color: #536dfe;
}

.btn-logout {
  color: #fff;
  border: 1px solid #d2042d;
  background-color: #dc143c;
}

.btn-cancel:hover { background-color: #f1f5f9; }

.btn-save:hover { background-color: #4053c9; }

.btn-logout:hover { background-color: #ff0000; }

.btn-membership{
  color: #fff;
  border: 1px solid #AAFF00;
  background-color: #50C878;
  padding: 5px;
}

.btn-membership:hover{ background-color: #7CFC00; }

.btn-submit {
    color: #fff;
    border: 1px solid #15ff00;
    background-color: #15ff00;
}

.btn-submit:hover { background-color: #50ff40; }

/*For check box*/
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between checkboxes */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; /* Add space between checkbox and label */
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #536dfe; /* Add border to the checkbox */
  border-radius: 3px; /* Rounded corners for the checkbox */
  transition: border-color 0.3s; /* Add transition for hover effect */
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #536dfe; /* Change background color when checked */
}

.checkbox-container input[type="checkbox"]:focus {
  outline: none; /* Remove default focus outline */
}

.checkbox-container input[type="checkbox"] + label {
  font-size: 16px;
  color: #1e293b;
}

.checkbox-container input[type="checkbox"] + label:hover {
  text-decoration: underline; /* Add underline effect on label hover */
}

.checkbox-container label { margin-bottom: 0; }