body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 3;
}

.header-support {
  width: 100%;
  height: 64px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  height: 64px;
  display: flex;
  align-items: center;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header.logo {
  display: block;
  float: left;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 3px;
}

.header.logo img {
  height: 55px;
  width: 110px;
}
/* menu */
.header.left-menu {
  display: block;
  float: left;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu btn */
.dropdown {
  float: left;
  overflow: hidden;
  height: 64px;
  display: flex;
  align-items: center;
}

.dropdown .dropbtn {
  display: block;
  padding: 20px 20px;
  border: none;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-size: inherit;
  background-color: #fff;
}

.dropdown .dropbtn:hover {
  background-color: #f4f4f4;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 100;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .left-menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/*This is how you implement the words based on their size, different size, different looks, like h1, h3 and p*/
#main h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#main h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: black;
}

#main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
  text-shadow: 2px 2px #000000;
}

#main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/*this is where the title will be in the middle */
#main .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#main .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section */
/**************************/
#main .sec1 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/main1.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#main .sec2 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/main2.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#main .sec3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/main3.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-add {
  width: 100%;
  padding: 0.85rem;
  margin-top: 1.5rem;
  background-color: saddlebrown;
  color: #f1f1f1;
  border: 0;
  border-radius: 0.5rem;
}

.btn-add:hover {
  opacity: 0.8;
}


/*start of coding for the elements in the page*/

/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Use a light background color */
}

.container {
  display: flex;
  margin: 100px 50px;
}

/* Profile section styles */
.profile {
  flex: 0.5;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
}

.profile-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-img{
  width: 25%; /* Make the profile picture smaller */
  height: 25%;
  border-radius: 50%; /* Make the profile picture round */
  margin-right: 10px;
}

/* Borderpage link styles */
.borderpage-link {
  display: block;
  text-decoration: none;
  color: grey;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/*.borderpage-link:first-child {
  color: #fff;
  background-color: #536dfe;
} */

.borderpage-link:hover {
  background-color: #f1f5f9;
  color: #1e293b;
}
/* Highlight active section */
.borderpage-link.active {
  background-color: #536dfe;
  color: #fff;
}
/* Account section styles */
.account {
  flex: 0.5;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
  width: 150%;
  height: 100%;
}

.account-title {
  font-size: 20px;
  margin-bottom: 10px;
  
}

/* Input styles */
.input-container {
  margin-bottom: 15px;
}

.input-container label {
  color: #768499;
  font-size: 15px;
  margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #768499;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
  border-color: #536dfe;
}

/* Button styles */
.btn-cancel,
.btn-save,
.btn-membership,
.btn-logout {
  width: 4cm;
  height: 1cm;
  cursor: pointer;
  border-radius: 2em;
  font-weight: bold;
  transition-duration: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.btn-cancel {
  color: #1e293b;
  border: 1px solid #768499;
  background-color: #fff;
}

.btn-save {
  color: #fff;
  border: 1px solid #458ff6;
  background-color: #536dfe;
}

.btn-logout {
  color: #fff;
  border: 1px solid #d2042d;
  background-color: #dc143c;
}

.btn-cancel:hover {
  background-color: #f1f5f9;
}

.btn-save:hover {
  background-color: #4053c9;
}

.btn-logout:hover {
  background-color: #ff0000;
}

.btn-membership{
  color: #fff;
  border: 1px solid #AAFF00;
  background-color: #50C878;
  padding: 5px;
}

.btn-membership:hover{
  background-color: #7CFC00;
}

/*For check box*/
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between checkboxes */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; /* Add space between checkbox and label */
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #536dfe; /* Add border to the checkbox */
  border-radius: 3px; /* Rounded corners for the checkbox */
  transition: border-color 0.3s; /* Add transition for hover effect */
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #536dfe; /* Change background color when checked */
}

.checkbox-container input[type="checkbox"]:focus {
  outline: none; /* Remove default focus outline */
}

.checkbox-container input[type="checkbox"] + label {
  font-size: 16px;
  color: #1e293b;
}

.checkbox-container input[type="checkbox"] + label:hover {
  text-decoration: underline; /* Add underline effect on label hover */
}
